html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.new_rsv_modal{
    margin-top:70px !important;
}

.content-wrapper{
    background: #ffffff !important;
}

#preloader {
    background: #ffffff url('../sbadmin/images/preloader.gif') no-repeat scroll center center;
    height: 100%;
    left: 0;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

.dash-icon{
    /*border: 1px solid #c0c0c0;*/
    width: 150px;
    height: 150px;

}

.dash-icon:hover{
    border: 1px solid #f1f1f1;
    background-color: #e4f1fb;

}
.dashboard_icon_placeholder{
    /*border: 1px solid #c0c0c0;*/
    /*border-radius: 8px;*/
    width: 150px;
    height: 170px;
    text-align: center;

}

.utilis-icon{
    background: url('../images/dashboard_icons/utilities-1x.png') no-repeat scroll center center;
    background-size: 100px 100px;
}
.bookings-icon{
    background: url('../images/dashboard_icons/bookings-1x.png') no-repeat scroll center center;
    background-size: 100px 100px;
}
.calendar-icon{
    background: url('../images/dashboard_icons/calendar-1x.png') no-repeat scroll center center;
    background-size: 100px 100px;
}

.orders-icon{
    background: url('../images/dashboard_icons/orders-1x.png') no-repeat scroll center center;
    background-size: 100px 100px;
}

.guest-icon{
    background: url('../images/dashboard_icons/user-1x.png') no-repeat scroll center center;
    background-size: 100px 100px;
}

.guestcheckin-icon{
    background: url('../images/dashboard_icons/guestcheckin-1x.png') no-repeat scroll center center;
    background-size: 100px 100px;
}

.receipt-icon{
    background: url('../images/dashboard_icons/receipts-1x.png') no-repeat scroll center center;
    background-size: 100px 100px;
}

.items-icon{
    background: url('../images/dashboard_icons/iteminventory-1x.png') no-repeat scroll center center;
    background-size: 100px 100px;
}

.po-icon{
    background: url('../images/dashboard_icons/purchase-1x.png') no-repeat scroll center center;
    background-size: 100px 100px;
}

.voucher-icon{
    background: url('../images/dashboard_icons/vouchers-1x.png') no-repeat scroll center center;
    background-size: 100px 100px;
}

.reports-icon{
    background: url('../images/dashboard_icons/reports-1x.png') no-repeat scroll center center;
    background-size: 100px 100px;
}

.user-icon{
    background: url('../images/dashboard_icons/user-1x.png') no-repeat scroll center center;
    background-size: 100px 100px;
}

.icon_title{color: #3c3c3c; font-family: Arial; font-size: 14px; font-weight: bold; text-align: center}

.ico-row{margin-bottom: 10px}

.has-error-po-row{
    border: 1px solid red;

}